**/bin
**/obj
/.vs
/MyServerRenderedPortal/Properties/serviceDependencies.json
/MyServerRenderedPortal/Properties/serviceDependencies.local.json
/MyServerRenderedPortal/Properties/serviceDependencies.local.json.user
/MySpaAngularUI/node_modules
/MySpaAngularUI/dist/
/CreateAppRegistrations/oauth2Permissionsnew.json
/CreateAppRegistrations/oauth2Permissionsold.json
/CreateAppRegistrations/server_rendered_required_resources.json
/MySpaAngularUI/.angular/cache
